.wrapper {
    width: 100%;
}

.image_wrapper {
    margin: 20px auto;
    width: 100%;
    max-width: 450px;
    height: auto;
    position: relative;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.image_name {
    position: absolute;
    color: white;
    font-size: 40px;
    top: 15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.image_wrapper button {
    position: absolute;
    background: none;
    border: none
}

.arrow_prev {
    top: 50%;
    left: 10px;
    scale: 1.2;
}

.arrow_next {
    top: 50%;
    right: 10px;
    scale: 1.2;
}

.arrow_prev:active, .arrow_next:active {
    scale: 1.5;
}

.left_gallery {
    display: none;
}

.right_gallery {
    display: none;
}

@media screen and (min-width: 1024px) {

    .arrow_prev, .arrow_next {
        display: none;
    }
    
    /* GRID LAYOUT */
    .wrapper {
        display: grid;
        grid-template-columns: 270px 470px 270px;
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 0px;
        justify-content: center;
        max-height: 90%;
    }

    .image_wrapper {
        grid-area: 1 / 2 / 2 / 3;
        max-height: 90%;
    }

    .left_gallery {
        grid-area: 1 / 1 / 2 / 2;
        
    }

    .right_gallery {
        grid-area: 1 / 3 / 2 / 4;
        margin-right: 30px;
    }
    /*  */

    .image_wrapper img{
        border-radius: 20px;
    }

    .left_gallery {
        margin: 20px auto;
        /* height: auto; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
        align-content: flex-start;
    }

    .right_gallery {
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        }

    .left_gallery_frame {
        width: 120px;
        height: auto;
        padding: 5px;
        padding-top: 0px;
        cursor: pointer;
    }

    .left_gallery_photo {
        width: 100%;
        height: auto;
        border-radius: 20px;
        transition: 500ms ease-in-out;
    }

    .left_gallery_photo:hover {
        scale: 1.06;
    }
}