:root {
    /* colors */
    --bg-color: #DECDA6;
    --font-color: #262626;
    --gray-color: #DBDBDB;
    --gray-dark-color: #B3B3B3;
    --white-color: #FFFFFF;
    /*  */
}

@font-face {
    font-family: 'Rudolf';
    src: url('./assets/font/Rudolf-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  html {
    min-width: 375px;
  }
  
  body {
    font-family: 'Rudolf';
    /* basic colors */
    color: var(--font-color);
    background-color: var(--bg-color);
  }